@use '../abstracts/variables' as *;


h1 {
    font-size: $font-size-large;
}

#startGame {
    display: inline-block;
    background-color: $red; // Usa la variable de color
    color: $white; // Usa la variable de color
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
